<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bloodstream Suite" time-out="10000">
 
	<listeners>
        <listener class-name="plugins.HtmlReport"/>
         
  	</listeners>

  
<test thread-count="5" name="Test">
 <classes>
 
<class name="ReusableCode.auth"/>


<class name="GETCustomFilter.TestInfo"/>




</classes>
</test> 
</suite>


