<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
       <Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
 
  <Appenders>

      <RollingFile name="File" fileName="${basePath}/report.log" filePattern="${basePath}/report-%i.log" ignoreExceptions="false">
    <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
    </PatternLayout>
    <Policies>
        <SizeBasedTriggeringPolicy size="10KB" />
    </Policies>
</RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>